DirectoryIndex index.html index.php

RewriteEngine On

# Forzar lectura de sitemap si da 404 falso
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^sitemap\.txt$ sitemap.txt [L]

# Forzar redirección HTTPS limpia con Cloudflare
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]